<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Resultado de Búsqueda</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <style>
        .container{
            width: 800px;
        }
        h1{
            text-align: center;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="mt-5 mb-4">
        <h1>Rueditas</h1>
    </div>

    <div class="card-body">
        <div th:if="${busquedaModel.codigo == '00'}">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Marca</th>
                    <td th:text="${busquedaModel.marca}"></td>
                </tr>
                <tr>
                    <th scope="row">Modelo</th>
                    <td th:text="${busquedaModel.modelo}"></td>
                </tr>
                <tr>
                    <th scope="row">Número de Asientos</th>
                    <td th:text="${busquedaModel.nroAsientos}"></td>
                </tr>
                <tr>
                    <th scope="row">Precio</th>
                    <td th:text="${busquedaModel.precio}"></td>
                </tr>
                <tr>
                    <th scope="row">Color</th>
                    <td th:text="${busquedaModel.color}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <!-- Mostrar mensaje de error si no se encontraron datos -->
        <div th:if="${busquedaModel.codigo == '01'}" class="alert alert-danger" role="alert">
            <strong>Error:</strong> <span th:text="${busquedaModel.mensaje}">Vehiculo no encontrado.</span>
        </div>
    </div>

    <div class="card-footer text-center">
        <a href="/rueda/buscar" class="btn btn-success btn-lg">Regresar</a>
    </div>
</div>

</div>
</div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>